.env
.lab/*
!.lab/ssh/
.lab/ssh/*
!.lab/ssh/.gitkeep
.ansible/
*.retry
__pycache__/
.DS_Store
Thumbs.db
.idea/
.local/
.vault_pass
*.vault
group_vars/secrets/vault*.yml
!group_vars/secrets/vault_example.yml


