<!doctype html>
<title>{{ inventory_hostname }} health</title>
<p>ok</p>
<p>{{ inventory_hostname }} running {{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }}</p>
<p>
  <small>Built by <a href="https://alishaikh.me/" rel="author">Ali Shaikh</a>.</small>
</p>
